body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 100px;
    color: #776e65;
}

#game-container{
    width: 230px;
    margin: 0 auto;
    padding: 15px;
    background-color: #bbada0;
    border-radius: 6px;
    position: relative;
}

#grid{
    width: 230px;
    height: 230px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.tile{
    width: 50px;
    height: 50px;
    background-color: #cdc1b4;
    border-radius: 3px;
    font-size: 25px;
    line-height: 50px;
    color: #776e65;
    text-align: center;
    font-weight: bold;
    position: absolute;
    transition: transform 0.2s ease;
}

.tile[data-value='2']{
    background-color: #eee4da;
}
.tile[data-value='4']{
    background-color: #ede0c8;
}
.tile[data-value='8']{
    background-color: #f2b170;
    color: #f9f6f2;
}
.tile[data-value='16']{
    background-color: #f59563;
    color: #f9f6f2;
}
.tile[data-value='32']{
    background-color: #f67c5f;
    color: #f9f6f2;
}
.tile[data-value='64']{
    background-color: #f65e3b;
    color: #f9f6f2;
}
.tile[data-value='128']{
    background-color: #edcf72;
    color: #f9f6f2;
}
.tile[data-value='256']{
    background-color: #edcf72;
    color: #f9f6f2;
    font-size: 25px;
}
.tile[data-value='512']{
    background-color: #edc850;
    color: #f9f6f2;
    font-size: 25px;
}
.tile[data-value='1024']{
    background-color: #edc53f;
    color: #f9f6f2;
    font-size: 22px;
}
.tile[data-value='2048']{
    background-color: #edc22e;
    color: #f9f6f2;
    font-size: 22px;
}